absl-py==0.12.0
alembic==1.4.1
argon2-cffi==20.1.0
astroid==2.4.1
astunparse==1.6.3
async-generator==1.10
attrs==20.3.0
backcall==0.2.0
bleach==3.3.0
blis==0.7.4
Boruta==0.3
cachetools==4.2.1
catalogue==1.0.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.3
colorlover==0.3.0
confuse==1.4.0
cufflinks==0.17.3
cycler==0.10.0
cymem==2.0.5
Cython==0.29.21
databricks-cli==0.14.3
decorator==4.4.2
defusedxml==0.7.1
dill==0.3.3
docker==5.0.0
entrypoints==0.3
Flask==1.1.2
flatbuffers==1.12
funcy==1.15
future==0.18.2
gast==0.3.3
gensim==4.0.1
gitdb==4.0.7
GitPython==3.1.15
google-auth==1.30.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
GPy @ file:///D:/bld/gpy_1612508875436/work
greenlet==1.0.0
grpcio==1.32.0
h5py==2.10.0
heatmapz==0.0.4
htmlmin==0.1.12
hyppo==0.2.1
idna==2.10
ImageHash==4.2.0
imbalanced-learn==0.7.0
ipykernel==5.5.3
ipython==7.22.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
isort==4.3.21
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
joblib==1.0.1
jsonschema==3.2.0
jupyter-client==6.2.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kaleido==0.2.1
Keras==2.4.3
Keras-Preprocessing==1.1.2
kiwisolver @ file:///C:/ci/kiwisolver_1612282606037/work
kmodes==0.11.0
lightgbm==3.2.1
llvmlite==0.36.0
Mako==1.1.4
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib @ file:///C:/ci/matplotlib-suite_1613408055530/work
mccabe==0.6.1
missingno==0.4.2
mistune==0.8.4
mkl-fft==1.3.0
mkl-random @ file:///C:/ci/mkl_random_1618854156666/work
mkl-service==2.3.0
mlflow==1.16.0
mlr==0.1.0
mlxtend==0.18.0
multiprocess==0.70.11.1
murmurhash==1.0.5
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5.1
nltk==3.6.2
notebook==6.3.0
numba==0.53.1
numexpr==2.7.3
numpy==1.19.5
oauthlib==3.1.0
olefile==0.46
opt-einsum==3.3.0
orca==1.6
packaging==20.9
pandas @ file:///C:/ci/pandas_1618365634936/work
pandas-profiling==2.11.0
pandocfilters==1.4.3
paramz==0.9.5
parso==0.8.2
patsy==0.5.1
phik==0.11.2
pickleshare==0.7.5
Pillow @ file:///C:/ci/pillow_1617386341487/work
plac==1.1.3
plotly==4.14.3
ply==3.11
preshed==3.0.5
prometheus-client==0.10.1
prometheus-flask-exporter==0.18.1
prompt-toolkit==3.0.18
protobuf==3.15.8
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycaret==2.3.0
pycparser==2.20
Pygments==2.8.1
pyLDAvis==3.2.2
pylint==2.5.2
pynndescent==0.5.2
pyod==0.8.8
pyparsing @ file:///home/linux1/recipes/ci/pyparsing_1610983426697/work
pyrsistent==0.17.3
python-dateutil @ file:///home/ktietz/src/ci/python-dateutil_1611928101742/work
python-editor==1.0.4
pytz @ file:///tmp/build/80754af9/pytz_1612215392582/work
PyWavelets==1.1.1
pywin32==227
pywinpty==1.0.1
PyYAML==5.4.1
pyzmq==22.0.3
querystring-parser==1.2.4
regex==2021.4.4
requests==2.25.1
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.7.2
scikit-learn==0.23.2
scikit-plot==0.3.7
scipy==1.5.4
seaborn==0.11.1
Send2Trash==1.5.0
six @ file:///C:/ci/six_1605187374963/work
smart-open==5.0.0
smmap==4.0.0
smop==0.41b0
spacy==2.3.5
SQLAlchemy==1.4.11
sqlparse==0.4.1
srsly==1.0.5
statsmodels==0.12.2
tables==3.6.1
tabulate==0.8.9
tangled-up-in-unicode==0.0.7
tensorboard==2.5.0
tensorboard-data-server==0.6.0
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
termcolor==1.1.0
terminado==0.9.4
testpath==0.4.4
textblob==0.15.3
thinc==7.4.5
threadpoolctl==2.1.0
toml==0.10.1
toolz==0.11.1
tornado @ file:///C:/ci/tornado_1606942392901/work
tqdm==4.60.0
traitlets==5.0.5
typing-extensions==3.7.4.3
umap-learn==0.5.1
urllib3==1.26.4
visions==0.6.0
waitress==2.0.0
wasabi==0.8.2
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.58.0
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wincertstore==0.2
wordcloud==1.8.1
wrapt==1.12.1
yellowbrick==1.3.post1
